@media screen and (min-width: 600px) {
  /*---------- Home ----------*/
  /*-----Header-----*/
  #hamburgerBtn {
    display: none;
  }

  nav#navMenu {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
  }

  nav a {
    border-bottom: none;
  }

  nav a:hover {
    background-color: #f69b3e;
    color: white;
  }

  #nav-center {
    border-right: 1px solid #f69b3e;
    border-left: 1px solid #f69b3e;
  }

  /*-----Main-----*/
  #home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #hero-img {
    grid-area: 1 / 1 / 2 / 3;
  }

  #weather-container {
    grid-area: 2 / 1;
    margin-top: 2rem;
  }

  #hero-action {
    grid-area: 2 / 2 / 3 / 3;
  }

  #summary {
    grid-area: 3/1/4/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    max-width: 830px;
    background: #e31e25;
    color: white;
    margin: 2rem auto;
  }

  #summary img {
    align-self: center;
  }

  #info-container {
    grid-area: 4/1/5/5;
  }

  #info-card {
    width: 365px;
  }
}
