@media screen and (min-width: 600px) {
  /*---------- Home ----------*/
  /*-----Header-----*/
  #hamburgerBtn {
    display: none;
  }

  nav#navMenu {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
  }

  nav a {
    border-bottom: none;
  }

  nav a:hover {
    background-color: #f69b3e;
    color: white;
  }

  #nav-center {
    border-right: 1px solid #f69b3e;
    border-left: 1px solid #f69b3e;
  }

  /*-----Main-----*/
  #home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*-----Hero-----*/
  #hero-img {
    grid-area: 1 / 1 / 2 / 3;
  }

  #hero-action {
    grid-area: 2 / 2 / 3 / 3;
  }

  /*-----Weather-----*/
  #weather-container {
    grid-area: 2 / 1;
    margin-top: 2rem;
  }

  /*-----Summary-----*/
  #summary {
    grid-area: 3 /1 /4 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    max-width: 830px;
    background: #ac151a;
    color: white;
    margin: 2rem auto;
    align-items: center;
  }

  #summary img {
    align-self: center;
  }

  /*-----Info Card-----*/
  #info-container {
    grid-area: 4 / 1 / 5 / 5;
  }

  #info-card {
    width: 365px;
  }

  /*-----Footer-----*/
  footer {
    padding: 0;
  }

  footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: .5rem;
    align-items: center;
  }

  footer img {
    max-height: 90px;
  }

  #footerAddressContainer {
    display: flex;
    margin-left: 1%;
  }

  #footerAddress {
    margin-bottom: 0;
    margin-left: 10px;
    text-align: left;
  }

  #footerInfo {
    text-align: right;
    margin-right: 1%;
  }

  /*---------- About Us ----------*/
  /*-----------Main--------------*/
  #aboutUs-info {
    margin: 1rem auto;
  }

  #aboutUs-info h1 {
    margin-top: 2rem;
  }
}
