@media screen and (min-width: 600px) {
  body > div {
    font-size: 1.2rem;
  }

  body > button {
    font-size: 1.2rem;
  }
  
  main {
    font-size: 1.5rem;
  }

  .smedia {
    max-width: none;
    margin: 2rem 0.3rem 0 0.3rem;
  }

  nav button {
    font-size: 3rem;
    margin: 2rem 1rem;
    min-width: 4rem;
  }

  nav ul {
    font-size: 2rem;
    width: 250px;
  }

  nav ul.open {
    top: 6rem;
  }

  time {
    font-size: 1.8rem;
  }

  main {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 0.5rem;
  }

  main > div > p {
    font-size: 1.5rem;
  }

  main > div > a {
    font-size: 1.5rem;
  }

  #arequipa {
    display: none;
  }

  #cusco {
    max-width: 100%;
    display: block;
  }

  #hero p {
    font-size: 4rem;
    right: 1.5rem;
    left: auto;
    text-shadow: 5px 1px 1px #5f1a37;
  }

  #hero button {
    font-size: 1.8rem;
    box-shadow: 1px 1px 8px 5px rgba(95,26,55,0.8);
  }

  #event > div{
    display: block;
  }

  #hero,
  #news,
  #card,
  #join {
    grid-column: 1/3;
  }

  #news {
    grid-row: 2/3;
  }

  #card {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  #s1,
  #s2 {
    margin: 0;
  }

  #join {
    display: block;
    grid-row: 4/5;
    padding-top: 2rem;
  }

  #join button {
    border: none;
    background-color: #d32b1e;
    font-size: 1.8rem;
    color: white;
    padding: 0.8rem;
    border-radius: 20px;
    width: 100%;
    box-shadow: 1px 1px 8px 5px #5f1a37;
}

  footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 0 0.5rem;
    font-size: 1.5rem;
  }

  footer div {
    max-height: 80%;
    align-self: center;
  }

  #whiteP {
    max-height: 100%;
  }

  footer div img {
    max-width: 100%;
    padding: 0;
  }

  #name {
    font-size: 1.8rem;
  }

  #fcontact1 {
    margin-bottom: -1rem;
    margin-top: 2rem;
  }

  footer a {
    font-size: 1.5rem;
  }

  #footerData {
    display: none;
  }

  #footerData2 {
    display: block;
    border-top: 1px solid white;
    grid-column: 1/4;
    display: flex;
    margin: 1rem auto;
  }
}
