html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

main {
  margin: 1rem;
}

header {
  background-color: #d32b1e;
  padding: 1rem;
}

header > img {
  max-width: 50%;
}

.smedia {
  max-width: 30%;
  margin: 0 0.1rem;
}

nav button {
  min-width: 3rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #5f1a37;
  float: right;
  margin-left: -1rem;
}

nav:nth-child(2) {
  position: absolute;
  top: 2.5rem;
  right: 0;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 3.5rem;
  right: 0;
  border-top: 4px solid #5f1a37;
  border-left: 4px solid #5f1a37;
  border-right: 4px solid #5f1a37;
  z-index: 1;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: white;
  background-color: #d32b1e;
  border-bottom: 4px solid #5f1a37;
}

nav ul li a:hover {
  background-color: #5f1a37;
}

time {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #5f1a37;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
    font-family: Satisfy, cursive;
    margin-top: 0.3rem;
    color: #5f1a37;
}

main > div {
  text-align: center;
  border: 1px solid #d32b1e;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 8px 5px #5f1a37;
}

main > div > p {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: #d32b1e;
}

main > div > a {
    color: #5f1a37;
    font-size: 1.2rem;
}

#hero {
    background-color: transparent;
    padding: 0;
    border: none;
    position: relative;
    box-shadow: none;
}

#arequipa {
    max-width: 100%;
}

#cusco {
  display: none;
}

#lima {
  display: none;
}

#hero p {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    font-family: Satisfy, cursive;
    color: white;
    font-size: 2.2rem;
    text-shadow: 2px 1px 1px #5f1a37;
}

#hero button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    background-color: #d32b1e;
    font-size: 1.3rem;
    color: white;
    padding: 0.8rem;
    border-radius: 15px;
}

#event > div{
  display: none;
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather h1 {
    grid-column: 1/3;
}

#weather div img {
    max-width: 100%;
}

#temperature {
    font-size: 3rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

#cloudy {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 6rem;
}

.weather-data {
    text-align: right;
    font-family: Satisfy, cursive;
    font-size: 1.5rem;
}

.weather-info {
  text-align: left;
  margin-left: 1rem;
}

.spotlight {
    text-align: center;
    border: 1px solid #d32b1e;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    color: #d32b1e;
    box-shadow: 1px 1px 8px 5px #5f1a37;
}

.spotlight a {
    color: #5f1a37;
}

.spot-logo img{
  max-width: 100%;
}

#s2 {
  margin-bottom: 0;
}

#s3 {
  display: none;
}

#join {
    display: none;
}

footer {
  background-color: #d32b1e;
  padding: 1rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

footer div img {
  max-width: 40%;
  padding: 1rem;
}

#name {
  font-size: 1.3rem;
}

.address {
  margin-top: -1rem;
}

footer a {
  color: white;
  font-size: 1.2rem;
}

#footerData {
  border-top: 1px solid white;
  margin-top: 1rem;
}

#footerData p {
  margin-bottom: -0.7rem;
}

#footerData2 {
  display: none;
}
