/*---------- HOME ----------*/

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

/*---------- BANNER ----------*/

body > div > div {
  padding: 1rem 2rem 1rem 1rem;
  text-align: left;
  font-size: 1.1rem;
  background-color: #5f1a37;
  color: white;
}

body > div > button {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  color: white;
}

#banner.open {
  display: block;
}

#banner.close {
  display: none;
}

/*---------- HEADER ----------*/

header {
  background-color: #d32b1e;
  padding: 1rem;
  position: relative;
}

header .logo {
  max-width: 50%;
  margin: 0;
}

header .logo img {
  width: 100%;
}

.smedia {
  max-width: 30%;
  margin: 0px 0.1rem;
}

nav a {
  text-decoration: none;
}

nav button {
  min-width: 3rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #5f1a37;
  float: right;
  margin-left: -1rem;
}

nav:nth-child(2) {
  position: absolute;
  top: 2.5rem;
  right: 0;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 3.5rem;
  right: 0;
  border-top: 4px solid #5f1a37;
  border-left: 4px solid #5f1a37;
  border-right: 4px solid #5f1a37;
  z-index: 1;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: white;
  background-color: #d32b1e;
  border-bottom: 4px solid #5f1a37;
}

nav ul li a:hover {
  background-color: #5f1a37;
}

time {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #5f1a37;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

/*---------- MAIN ----------*/

main {
  margin: 5% 2%;
}

h1, h2 {
  font-family: Satisfy, cursive;
  color: #5f1a37;
}

.div-title {
  margin-top: 0.3rem;
}

main div {
  text-align: center;
  border: 1px solid #d32b1e;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 8px 5px #5f1a37;
}

#home-grid {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

main p {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #d32b1e;
}

main > div > div > a {
  color: #5f1a37;
  font-size: 1.2rem;
}

#hero {
  background-color: transparent;
  padding: 0;
  border: none;
  position: relative;
  box-shadow: none;
}

.hero-img {
  width: 100%;
  margin: 0;
}

.hero-img img {
  max-width: 100%;
}

#hero p {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  font-family: Satisfy, cursive;
  color: white;
  font-size: 2.2rem;
  text-shadow: 2px 1px 1px #5f1a37;
}

#hero button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: none;
  background-color: #d32b1e;
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 3px rgba(95, 26, 55, 0.8);
}

#event > div {
  display: none;
}

#weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather h1 {
  grid-column: 1/3;
}

#weather picture {
  margin: auto;
}

#weather picture img {
  width: 100%;
}

#temperature {
  font-size: 3rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

#cloudy {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 6rem;
}

.weather-data {
  text-align: right;
  font-family: Satisfy, cursive;
  font-size: 1.5rem;
}

.weather-info {
  text-align: left;
  margin-left: 1rem;
}

.spotlight {
  text-align: center;
  border: 1px solid #d32b1e;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: #d32b1e;
  box-shadow: 1px 1px 8px 5px #5f1a37;
}

.spot-logo {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.spotlight p {
  font-size: 1.2rem;
}

.spotlight a {
  color: #5f1a37;
}

.spot-logo img {
  max-width: 100%;
}

#s2 {
  margin-bottom: 0;
}

#s3 {
  display: none;
}

#join {
  display: none;
}

/*---------- FOOTER ----------*/

footer {
  background-color: #d32b1e;
  color: white;
  text-align: center;
  padding: 5%;
}

#whiteP {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  padding: 0;
}

#whiteP img {
  width: 100%;
}

#name {
  font-size: 1.3rem;
}

.address {
  margin-top: -1rem;
}

footer a {
  color: white;
  font-size: 1.2rem;
}

#footerData {
  border-top: 1px solid white;
  margin-top: 1rem;
}

#footerData p {
  margin-bottom: -0.7rem;
}

#footerData2 {
  display: none;
}

/*---------- DISCOVER ----------*/

/*---------- MAIN ----------*/

.discover-data {
  border: none;
  box-shadow: none;
}

h2 {
  font-size: 1.7rem;
}

.discover-title {
  text-align: center;
}

table {
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

th {
  color: #5f1a37;
}

td {
  color: #d32b1e;
}

ul {
  text-align: left;
  color: #d32b1e;
  font-size: 1.2rem;
  padding: 0;
  margin-left: 6.5%;
}

.image-test {
  margin: 0 5%;
}
